alabaster==0.7.12
appdirs==1.4.4
argcomplete==2.0.0
arrow==1.2.3
attrs==22.1.0
Babel==2.10.3
bandit==1.7.4
binaryornot==0.4.4
black==22.10.0
CacheControl==0.12.11
cachy==0.3.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.0.0
charset-normalizer==2.1.1
cleo==2.0.1
click==8.1.3
colorama==0.4.5
colorlog==6.7.0
commonmark==0.9.1
contourpy==1.0.7
cookiecutter==1.7.3
cookietemple==1.4.1
coverage==6.5.0
crashtest==0.4.1
cryptography==36.0.2
cycler==0.11.0
darglint==1.8.1
Deprecated==1.2.13
distlib==0.3.6
docutils==0.17.1
dparse==0.6.2
dulwich==0.20.46
filelock==3.8.0
flake8==5.0.4
flake8-bandit==4.1.1
flake8-bugbear==22.9.23
flake8-docstrings==1.6.0
flake8-rst-docstrings==0.2.7
fonttools==4.38.0
gitdb==4.0.9
GitPython==3.1.30
html5lib==1.1
identify==2.5.6
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
importlib-resources==5.12.0
iniconfig==1.1.1
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
jsonschema==4.16.0
keyring==23.9.3
kiwisolver==1.4.4
livereload==2.6.3
lockfile==0.12.2
MarkupSafe==2.1.1
matplotlib==3.7.0
mccabe==0.7.0
moepy==1.1.4
more-itertools==8.14.0
msgpack==1.0.4
mypy==0.982
mypy-extensions==0.4.3
nodeenv==1.7.0
nox==2022.8.7
nox-poetry==1.0.1
numpy==1.24.1
packaging==21.3
pandas==1.5.0
pathspec==0.10.1
pbr==5.10.0
pep8-naming==0.13.2
pexpect==4.8.0
Pillow==9.4.0
pkginfo==1.8.3
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
pluggy==1.0.0
poetry==1.3.0
poetry-core==1.4.0
poetry-plugin-export==1.2.0
poyo==0.5.0
pre-commit==2.20.0
pre-commit-hooks==4.3.0
prompt-toolkit==3.0.31
ptyprocess==0.7.0
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.5.0
PyGithub==1.55
Pygments==2.13.0
PyJWT==2.5.0
pylev==1.4.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.1.3
pytest-cov==4.0.0
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.4
pyupgrade==3.0.0
PyYAML==6.0
questionary==1.10.0
rapidfuzz==2.13.7
requests==2.28.1
requests-toolbelt==0.9.1
restructuredtext-lint==1.4.0
rich==12.6.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
safety==2.3.1
scikit-learn==1.1.2
scipy==1.6.1
SecretStorage==3.3.3
shellingham==1.5.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
# Editable install with no version control (spec-fundamentals==0.1.0)
-e /home/victor/github/spec_fundamentals
-e git+ssh://git@github.com/wilhelm-lab/spectrum_fundamentals.git@4aeb5242c17d44798534c1655c416212ff69dcea#egg=spectrum_fundamentals
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-click==4.3.0
sphinx-rtd-dark-mode==1.2.4
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==4.0.0
text-unidecode==1.3
threadpoolctl==3.1.0
tokenize-rt==5.0.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
tornado==6.2
tqdm==4.64.1
trove-classifiers==2023.1.20
typeguard==2.13.3
types-attrs==19.1.0
types-pkg-resources==0.1.3
types-requests==2.28.11.2
types-urllib3==1.26.25
typing_extensions==4.4.0
urllib3==1.26.12
virtualenv==20.16.5
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.14.1
xdoctest==1.1.0
zipp==3.8.1
